/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header__right {
		display: block;
		text-align: right;
	}
	.header__right .social-list {
		margin-right: 0;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	.slider-team {
		width: initial;
	}
	.slider-team .slick-next {
		right: 15px;
	}
	.slider-team .slick-prev {
		right: 60px;
	}
	.slider-team::after {
		display: none;
	}
	.slider-sertificats__item {
		height: 403px;
		width: 275px;
	}
	.item-step {
		padding: 20px;
		min-height: 322px;
		padding-bottom: 40px;
	}
	.item-step__title {
		position: relative;
		top: 0;
		left: 0;
		display: inline-block;
		margin-bottom: 10px;
	}
	.steps__image {
		margin-top: 0;
	}
	.steps__image img {
		max-width: 500px;
	}
	.checkbox-wrap .checkbox {
		white-space: normal;
	}
	.block-form {
		padding: 30px 25px;
	}

	/*card*/
	.card__buttons .btn-main {
		padding: 21px 26px;
		margin-right: 4px;
	}
	.col_pl50 {
		padding-left: 15px;
	}

	/*articles*/
	.item-article__image {
		height: 210px;
	}

	/*catalog*/
	.catalog-menu li a {
		font-size: 14px;
		line-height: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.logo img {
		width: 179px;
		margin-right: 10px;
	}
	.phone-main {
		font-size: 14px;
	}
	.contact-location {
		padding-left: 22px;
	}
	.logo span {
		max-width: 128px;
	}
	.menu li a {
		font-size: 13px;
	}
	.title-big br {
		display: none;
	}
	.title-big {
		font-size: 31px;
		line-height: 41px;
	}
	.billbord .btn-main {
		margin-top: 35px;
	}
	.tabs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.tabs li {
		width: 49%;
	}
	.row_tabs {
		margin-top: 30px;
	}
	.table-wrap td:first-child {
		max-width: 203px;
		padding-left: 10px;
	}
	.table-wrap thead td {
		font-size: 14px;
	}
	.services {
		padding-bottom: 70px;
	}
	.title-section {
		font-size: 25px;
		line-height: 33px;
	}
	.consult-form__leftimg {
		display: none;
	}
	.consult-form__left {
		max-width: 459px;
		padding: 45px 45px;
	}
	.consultation {
		padding-bottom: 100px;
	}
	.consult-form {
		margin-top: 30px;
	}
	.slider-sertificats__item {
		margin: 0 auto;
	}

	.row_steps > div:nth-child(3) .item-step::after {
		display: block;
	}
	.row_steps > div:nth-child(4) .item-step::after,
	.row_steps > div:nth-child(2) .item-step::after {
		display: none;
	}
	.col_pl {
		padding-left: 15px;
	}
	.col_pr {
		padding-right: 15px;
	}
	.question-block {
		margin-bottom: 30px;
	}
	.row_insta {
		margin-top: 20px;
		margin-left: -35px;
	}
	.instagram .btn-main {
		margin-bottom: 15px;
	}
	.title-section_insta {
		margin-bottom: 20px;
	}

	/*card*/
	.card__image {
		margin-bottom: 10px;
	}
	.hidden_tablet {
		display: none;
	}
	.card__buttons .btn-main {
		padding: 21px 33px;
		margin-right: 28px;
	}
	.tabs_main li a {
		font-size: 16px;
	}
	.tab-container_main .title-min {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.tab-container_main p {
		margin-bottom: 20px;
	}

	/*catalog*/
	.catalog-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}
	.catalog-menu li.active {
		display: block;
		-webkit-order: -1;
		-moz-order: -1;
		-ms-order: -1;
		-o-order: -1;
		order: -1;
	}
	.catalog-menu  li {
		display: none;
	}
	.btn-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		padding-right: 30px;
		height: 74px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		color: #fff;
		cursor: pointer;
		width: 100%;
		align-items: center;
		justify-content: flex-end;
		z-index: 2;
	}
	.catalog-menu li a {
		font-size: 16px;
		line-height: 21px;
	}
	.catalog-menu li {
		margin-bottom: 10px;
	}
	.head-sidebar {
		margin-bottom: 20px;
	}

	/*contacts*/
	.contacts .contacts-form {
		float: none;
		margin: 0 auto;
		margin-top: 30px;
	}

	/*about*/
	.about-block__image {
		position: relative;
		margin: 0;
		margin-top: -50px;
	}
	.about-block {
		padding-top: 45px;
		padding-right: 30px;
		padding-bottom: 0;
	}
	.about-block__image img {
		max-width: 300px;
		margin: 0 auto;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header__right,
	.contact-location {
		display: none;
	}
	.logo span {
		max-width: 176px;
	}
	.header__bottom {
		display: none;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 900;
		background-color: #fff;
	}
	.wrapper {
		padding-top: 67px;
	}
	.title-big {
		font-size: 24px;
		line-height: 32px;
	}
	.billbord {
		padding-top: 35px;
		padding-bottom: 55px;
	}
	.item-billbord {
		font-size: 14px;
		line-height: 21px;
		margin-top: 20px;
	}
	.billbord .btn-main {
		font-size: 14px;
		line-height: 21px;
		padding: 10px 25px;
		margin-top: 25px;
		max-width: 315px;
	}
	.services {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.title-section {
		font-size: 21px;
		line-height: 28px;
	}
	.descr-title {
		font-size: 15px;
		padding-top: 14px;
		line-height: 22px;
	}
	.tabs li a {
		height: 63px;
		font-size: 15px;
	}
	.table-wrap {
		overflow: auto;
	}
	.table-wrap table {
		width: 630px;
	}
	.table-wrap::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.table-wrap::-webkit-scrollbar:vertical {
		width: 6px;
	}
	.table-wrap::-webkit-scrollbar:horizontal {
		height: 6px;
	}
	.table-wrap::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .5);
		border-radius: 10px;
	}
	.table-wrap::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgba(0, 0, 0, .1);
	}
	.table-wrap td:first-child {
		max-width: 260px;
	}
	.consultation {
		padding-top: 30px;
		padding-bottom: 60px;
		background-position: right center;
	}
	.consult-form {
		flex-wrap: wrap;
	}
	.consult-form__left {
		max-width: 100%;
		width: 100%;
	}
	.consult-form__right {
		padding-top: 30px;
		padding-bottom: 20px;
		width: 100%;
		order: -1;
	}
	.consult-form__image {
		margin-bottom: 15px;
	}
	.consult-form__name {
		margin-bottom: 5px;
	}
	.consult-form__left {
		padding-top: 30px;
	}
	.title-section_main {
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.item-team__name {
		font-size: 15px;
		line-height: 21px;
		margin-bottom: 7px;
	}
	.item-team__image {
		height: 180px;
		margin-bottom: 8px;
	}
	.item-team {
		font-size: 13px;
		min-height: 488px;
	}
	.item-team .btn-main {
		padding: 10px 14px;
		border-radius: 6px;
	}
	.slider-team {
		padding-bottom: 30px;
	}
	.slick-arrow,
	.slider-team .slick-arrow {
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	.slick-prev,
	.slider-team .slick-prev {
		left: -60px;
	}
	.slick-next,
	.slider-team .slick-next {
		right: -60px;
	}
	.slider-sertificats__item {
		height: 285px;
		width: 220px;
	}
	.slider-sertificats {
		padding-bottom: 40px;
	}
	.sertificats {
		padding-bottom: 40px;
	}
	.item-step {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 13px;
	}
	.item-step__title {
		display: flex;
		align-items: center;
	}
	.item-step__descr {
		margin-left: 10px;
	}
	.row_steps > div {
		margin-bottom: 26px;
	}
	.steps__image img {
		max-width: 284px;
	}
	.steps__image {
		margin-top: 90px;
		margin-left: 0;
		margin-bottom: 0;
	}
	.arrows_center .slick-prev {
		right: auto;
	}
	.arrows_center .slick-next {
		left: auto;
	}
	.clients {
		padding-bottom: 40px;
	}
	.question__name {
		font-size: 16px;
	}
	.pl_35 .item-insta {
		display: none;
	}
	.title-small {
		font-size: 15px;
	}
	.footer .title-small {
		margin-bottom: 12px;
	}
	.footer__bottom {
		text-align: center;
	}
	.footer__bottom .row > div {
		padding: 10px 0;
	}
	.footer__bottom .align_right {
		text-align: center;
	}
	.create {
		justify-content: center;
	}
	.pl_30 {
		padding-left: 15px;
	}
	.title-section br {
		display: none;
	}
	.btn_nav {
		display: inline-block;
	}
	.header__bottom {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		background-color: #fff;
		padding-bottom: 50px;
		overflow: auto;
	}
	.menu {
		display: block;
	}
	.menu li a {
		font-size: 14px;
		display: block;
		padding: 14px 0;
		border-bottom: 1px #000 solid;
	}

	/*card*/ 
	.card__term {
		margin-left: 30px;
	}
	.card__buttons .btn-main {
		margin-right: 0;
	}
	.card__buttons a {
		width: 500px;
		padding-left: 20px;
		padding-right: 20px;
		max-width: 100%;
		margin: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.tabs_main li {
		flex: inherit;
		margin-bottom: 15px;
	}
	.tabs_main {
		margin-top: 20px;
	}

	/*articles*/
	.item-article__image {
		height: 253px;
	}
	.articles {
		padding-top: 15px;
	}

	/*article*/
	.title-page {
		font-size: 24px;
	}
	.article .title-page {
		margin-bottom: 20px;
	}
	.text-main p {
		margin-bottom: 15px;
	}
	.article__list li {
		padding-right: 0;
		margin-top: 30px;
	}
	.article__list {
		margin-bottom: 0;
	}

	/*modal block*/
	.modal-block .block-form {
		padding-left: 45px;
		padding-right: 45px;
	}

	/*catalog*/
	.instagram_page .title-section_main {
		padding-top: 0;
	}
	.catalog {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	/*contacts*/
	.contacts__item {
		font-size: 14px;
	}

	/*about*/
	.about-block {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 40px;
	}
	.about-block__image img {
		max-width: 195px;
	}
	.about-block__image {
		position: relative;
		left: -60px;
	}
	.text-page {
		font-size: 14px;
		line-height: 21px;
	}
	.text-page p {
		margin-bottom: 15px;
	}
	.row_about {
		margin: 0 -10px;
	}
	.about {
		padding-bottom: 50px;
	}
	.row_about > div {
		padding: 0 10px;
		margin-top: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.logo img {
		width: 120px;
		margin-right: 6px;
	}
	.logo {
		font-size: 11px;
	}
	.wrapper {
		padding-top: 62px;
	}
	.title-big {
		font-size: 20px;
		line-height: 28px;
	}
	.item-billbord {
		padding-top: 60px;
		padding-left: 0;
	}
	.billbord .btn-main {
		max-width: 280px;
		font-size: 13px;
	}
	.title-section {
		font-size: 19px;
		line-height: 25px;
	}
	.services {
		padding-top: 32px;
	}
	.table-wrap td:first-child {
		max-width: 88px;
	}
	.table-wrap td:nth-child(2) {
		max-width: 73px;
	}
	.tab-container {
		padding: 15px 0;
		padding-bottom: 30px;
	}
	.btn-transparent {
		font-size: 14px;
		padding: 15px 9px;
	}
	.table-wrap {
		margin-bottom: 30px;
	}
	.consult-form__right {
		padding-left: 20px;
		padding-right: 20px;
	}
	.consult-form__left {
		padding: 30px 15px;
	}
	.item-team__name {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 11px;
	}
	.item-team__image {
		height: 273px;
		margin-bottom: 15px;
	}
	.item-team {
		max-width: 265px;
		margin: 0 auto;
		font-size: 14px;
		min-height: 565px;
	}
	.slider-team {
		padding-bottom: 45px;
	}
	.team {
		padding-bottom: 40px;
	}
	.slider-sertificats__item {
		height: 197px;
		width: 143px;
		padding: 10px;
	}
	.slider-sertificats {
		margin: 0 -5px;
	}

	.row_steps > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.item-step p {
		line-height: 19px;
		text-indent: 0px;
	}
	.item-step__descr {
		margin-left: 20px;
		font-size: 13px;
	}
	.item-step {
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 100%;
	}
	.item-step__number {
		width: 38px;
		height: 38px;
		font-size: 36px;
	}
	.item-step::after {
		display: none !important;
	} 	
	.steps__image {
		display: none;
	}
	.item-client {
		height: 105px;
		margin: 0 5px;
		width: auto;
	}
	.title-section_center {
		padding: 22px 0;
		padding-bottom: 12px;
	}
	.question__name {
		font-size: 14px;
		line-height: 21px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.block-form__title {
		font-size: 17px;
		line-height: 21px;
		padding-bottom: 14px;
	}
	.title-section_insta::before {
		width: 40px;
		height: 41px;
	}
	.title-section_insta {
		padding-left: 53px;
	}
	.list-main {
		font-size: 13px;
		line-height: 21px;
	}
	.footer {
		font-size: 12px;
	}
	.footer .title-small {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.footer_phone a {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
	.footer_phone i {
		margin-left: 0;
		margin-right: 10px;
	}
	.footer_phone {
		flex-wrap: wrap;
	}
	.col_mob_pl {
		padding-left: 0;
	}
	#map {
		margin-top: 20px;
		height: 215px;
	}
	.instagram {
		padding-bottom: 15px;
	}

	/*card*/
	.title-middle {
		font-size: 18px;
		line-height: 30px;
	}
	.card__title {
		font-size: 17px;
		line-height: 23px;
	}
	.card__right li {
		font-size: 14px;
		line-height: 20px;
		padding-left: 20px;
		margin-top: 13px;
	}
	.card__line-price {
		margin-top: 20px;
		display: block;
	}
	.card__term {
		margin-left: 0;
		margin-top: 15px;
	}
	.tabs_main li a {
		padding-left: 20px;
	}
	.title-min {
		font-size: 16px;
	}
	.tab-container_main {
		padding: 15px;
	}

	/*articles*/
	.item-article__image {
		margin-bottom: 15px;
		height: 210px;
	}
	.item-article__date {
		margin-bottom: 6px;
	}
	.item-article__title {
		font-size: 16px;
	}
	.item-article {
		margin-bottom: 30px;
	}
	.pagination li:not(.pagination__arrow) a {
		margin: 0 10px;
	}

	/*article*/
	.title-page {
		font-size: 19px;
		line-height: 24px;
	}
	blockquote {
		padding: 35px 14px;
		margin-top: 20px;
	}
	.article__list li {
		width: 100%;
		margin-top: 20px;
	}
	.article .title-text {
		padding-top: 25px;
		padding-bottom: 15px;
	}

	/*modal block*/
	.modal-block .block-form {
		padding-left: 15px;
		padding-right: 15px;
	} 
	.title-modal {
		font-size: 22px;
	}
	.descr-modal {
		font-size: 13px;
		line-height: 19px;
		padding-bottom: 12px;
	}
	.modal-block .btn-main {
		font-size: 14px;
	}
	.fancybox-close {
		right: 18px;
	}

	/*catalog*/
	.btn-dropdown {
		padding-right: 15px;
	}
	.catalog-item__title {
		font-size: 16px;
		line-height: 23px;
		padding: 0px 0px 0px 7px;
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
	.catalog-item {
		padding-bottom: 15px;
	}
	.catalog-article p {
		margin-bottom: 15px;
	}
	.instagram_page {
		padding-bottom: 30px;
	}
	.catalog-item__bottom {
		font-size: 16px;
		padding: 0;
		display: block;
		text-align: center;
	}
	.catalog-item__price  {
		margin-bottom: 10px;
	}
	.catalog-item__price span {
		font-size: 17px;
	}

	/*contacts*/
	.contacts__block {
		margin: 0 -15px;
	}
	.contacts__item {
		font-size: 11px;
		line-height: 20px;
		margin-top: 20px;
	}
	.contacts__title {
		font-size: 15px;
		line-height: 15px;
	}
	.contacts-form__title {
		font-size: 22px;
	}
	.contacts-form {
		padding: 20px 15px;
	}
	.contacts .contacts-form {
		margin: 0 -15px;
		width: auto;
		max-width: inherit;
		margin-top: 25px;
	}
	.contacts {
		background-image: none;
	}
	.contacts__block {
		padding-top: 0;
		padding-bottom: 0;
	}
	#map-contact {
		margin-top: 0;
		height: 350px;
	}

	/*about*/
	.about-block__bottom strong {
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 5px;
	}
	.about-block__bottom {
		margin-top: 40px;
		padding-left: 100px;
	}
	.about-block__image {
		margin-top: -80px;
	}
	.about {
		padding-top: 35px;
	}
	.row_about > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.header__bottom {
		display: block !important;
		height: auto !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.show_tablet {
		display: none !important;
	}
	.catalog-menu li {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1170px;
	}
}